<div class="bg-orange-custom flex justify-center h-[calc(100vh-7rem)] md:h-[calc(100vh-9rem)] w-full">

  <img src="assets/img-background.jpeg" alt="img-login"
       class="w-full h-full object-cover">

  <div class="bg-pink-custom z-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center justify-star shadow-md mt-6 w-[300px] md:w-[400px]"
     [ngClass]="{
       'h-[560px] md:h-[580px]': step === 1,
       'h-[410px] md:h-[410px]': step === 2
     }"
     style=" transition: all 0.15s ease;">

      <h2 class="text-xl md:text-2xl font-bold mb-6 mt-6 w-full text-center">Registrarse</h2>
      <form (ngSubmit)="onSubmit()" class="flex flex-col items-center w-full">

         <div *ngIf="step === 1" class="w-full flex flex-col items-center">
            <div class="w-[70%] mb-4">
              <label for="username" class="block text-sm font-medium mb-1">Usuario</label>
              <input type="text" id="username" name="username" [(ngModel)]="username"
              class="w-full px-3 py-2 border-light-yellow-custom rounded-lg focus:outline-none focus:ring-2 
              focus:ring-yellow-custom bg-light-yellow-custom">
            </div>

            <div class="w-[70%] mb-4">
              <label for="password" class="block text-sm font-medium mb-1">Contraseña</label>
              <input type="password" id="password" name="password" [(ngModel)]="password"
              class="w-full px-3 py-2 border-light-yellow-custom rounded-lg 
              focus:outline-none focus:ring-2 focus:ring-yellow-custom bg-light-yellow-custom">
            </div>

            <div class="w-[70%] mb-4">
              <label for="confPassword" class="block text-sm font-medium mb-1">Confirmar contraseña</label>
              <input type="password" id="confPassword" name="confPassword" [(ngModel)]="confPassword"
              class="w-full px-3 py-2 border-light-yellow-custom rounded-lg 
              focus:outline-none focus:ring-2 focus:ring-yellow-custom bg-light-yellow-custom">
            </div>

            <div class="w-[70%] mb-4">
              <label for="email" class="block text-sm font-medium mb-1">Email</label>
              <input type="text" id="email" name="email" [(ngModel)]="email"
              class="w-full px-3 py-2 border-light-yellow-custom rounded-lg 
              focus:outline-none focus:ring-2 focus:ring-yellow-custom bg-light-yellow-custom">
            </div>

          <!-- Botón Siguiente -->
          <button type="button" class="bg-yellow-custom mt-4 px-6 py-2 rounded-md hoverbtn" (click)="nextStep()">Siguiente</button>
        </div>

        <div *ngIf="step === 2" class="w-full flex flex-col items-center">
          <!-- Contenedor de la foto --> 
          <div class="w-[70%] mb-4 flex flex-col items-center"> 
            <label class="block text-sm font-medium mb-2">Foto de perfil</label> 
            <!-- Previsualización --> 
            <div class="w-24 h-24 mb-2 rounded-full overflow-hidden border-2 border-yellow-custom"> 
              <img 
                *ngIf="previewUrl" 
                [src]="previewUrl" 
                alt="Previsualización" 
                class="w-full h-full object-cover cursor-pointer"
                (click)="fileInput.click()"
              >  
                 <div *ngIf="!previewUrl" class="w-full h-full flex items-center justify-center bg-light-yellow-custom text-gray-500 text-2xl cursor-pointer" (click)="fileInput.click()"> 
                 +    
                 </div> 
            </div> 
          
            <!-- Input oculto --> 
            <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" class="hidden"> 
          </div>

          <!-- Botones navegación -->
          <div class="flex justify-between w-[82%] md:w-[60%] mt-4">
            <button type="button" class="bg-yellow-custom px-6 py-2 rounded-md hoverbtn" (click)="prevStep()">Anterior</button>
            <button type="submit" class="bg-yellow-custom px-6 py-2 rounded-md hoverbtn">Registrar</button>
          </div>
        </div>
      
    </form>

    <p class="text-sm mt-4">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="text-red-custom font-medium hover:underline">
        Inicia sesión
      </a>
    </p>

    <p class="text-sm mt-2">
      ¿Olvidaste tu contraseña? 
      <a routerLink="/recovery" class="text-red-custom  font-medium hover:underline">
         Recuperar cuenta
      </a>
    </p>

  </div>        
</div>